body {
    text-align: center;
    background-color: rgb(229, 218, 201);
}
h1{
    font: bold 30px arial;
}
input{
    background-color: aliceblue;
}
input:hover{
    background-color: rgb(109, 219, 239);
}
section{
    text-align: center;
    background: white;
    padding: 12px;
    border-radius: 8px 8px 8px 8px;
    width: 500px;
    margin: auto;
}
#foto{
    margin-top: 20px;
}
div{
    font: bold 20px arial;
}
footer{
    text-align: center;
    font: italic 20px arial;
}